@import "global.css";
#profile .menu{
    position: absolute;
    bottom: 0;
    width: 25%;
}
#profile .menu button{
    display: block;
    margin: auto;
    width: 90%;
    border: none;
    border-top: 1px solid #ccc;
    font-size: 16pt;
    padding: 15px 10px;
    text-align: right;
    border-radius: 10px;
}
#profile .menu button:hover{
    width: 60%;
}